@using School.BLL.DTO
@model HomeworkDTO

@{
    ViewData["Title"] = "Assign Homework";
}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="col-md-6">
        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger">
                <span><b>Sorry!</b> - @TempData["Error"]</span>
            </div>
        }

        <h4 class="text-center">Assign Homework</h4>

        <form asp-action="Create" method="post">
            <input type="hidden" name="ClassId" value="@Model.ClassId" />
            <input type="hidden" name="SubjectId" value="@Model.SubjectId" />
            <input type="hidden" name="TeacherId" value="@Model.TeacherId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Class.Name" class="control-label"></label>
                <input asp-for="Class.Name" class="form-control" readonly>
                <span asp-validation-for="Class.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Subject.Name" class="control-label"></label>
                <input asp-for="Subject.Name" class="form-control" readonly>
                <span asp-validation-for="Subject.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Teacher.FullName" class="control-label"></label>
                <input asp-for="Teacher.FullName" class="form-control" readonly>
                <span asp-validation-for="Teacher.FullName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Title" class="control-label">Title</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label">Description</label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DueDate" class="control-label">Due Date</label>
                <input asp-for="DueDate" type="date" class="form-control" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>

            <div class="form-group d-flex justify-content-between">
                <a class="btn btn-outline-secondary" asp-controller="Lesson" asp-action="Detail"
                   asp-route-classId="@Model.ClassId" asp-route-subjectId="@Model.SubjectId">Cancel</a>
                <input class="btn btn-outline-success" type="submit" value="Assign" />
            </div>
        </form>
    </div>
</div>


